.data-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    border-radius: 25px;
    background-color:#212731;
    margin-left: 350px;
    margin-right: 350px;
    padding-bottom: 50px;
}

.user-pfp {
    border-radius: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 250px;
}

.country-name {
    background-color: #212731;
    margin-top: 50px;
}

.data-subsection {
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #212731;
    padding: 10px;
}

.data-information {
    display: flex;
    flex-direction: column;
}

.data {
    margin: 5px;
}

@media only screen and (max-width: 800px) {
    .user-page {
        margin-left: 10px;
        margin-right: 10px;
    }

    .user-pfp {
        width: 150px;
    }

    .user-subsection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-data {
        margin: 5px;
    }
}