.header-border {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    z-index: +1;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    border-bottom: 2px solid black;
    background-color: #04070b;
}

.header-name {
    display: flex;
    justify-content: center;
    grid-column-start: 3;
    font-size: 25px;
    padding: 10px;
}

.search-button {
    grid-column-start: 5;
    display: flex;
    justify-content: right;
    margin-right: 50px;
    cursor: pointer;
}

.search-button:hover {
    opacity: 0.50;
}

@media only screen and (max-width: 800px) {
    .header-name {
        grid-column-start: 1;
        font-size: 15px;
        margin-left: 10px;
    }

    .search-button {
        grid-column-start: 5;
        margin-right: 15px;
        font-size: 15px;
    }
}