.search-bar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 200px;
    border-radius: 25px;
    background-color:#212731;
    margin-left: 350px;
    margin-right: 350px;
}

.input-bar {
    background-color: white;
    color:  black;
    border: none;
    padding: 5px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    height: 25px;
    width: 250px;
}

.input-button {
    background-color: gray;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50px;
    margin-right: 100px;
    border: none;
    cursor: pointer;
}

.input-button:hover {
    opacity: 0.50;
}

@media only screen and (max-width: 800px) {
    .search-bar {
        margin-left: 25px;
        margin-right: 25px;
    }

    .input-bar {
        width: 350px;
    }
}

@media only screen and (max-width: 1500px) {
    .search-bar {
        margin-left: 25px;
        margin-right: 25px;
    }
}